{{#section 'js'}}
    <script>
        $('.activeBtn').on('click', function() {
            const driverID = $(this).data('id');
            $('#driverID').val(driverID);

            $('#statusChoice').val('active');

            $('form').submit();
        })

        $('.lockBtn').on('click', function() {
            const driverID = $(this).data('id');
            $('#driverID').val(driverID);

            $('#statusChoice').val('lock');

            $('form').submit();
        })
    </script>
{{/section}}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row w-100">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <a class="btn btn-primary" href="/admin/ManageUser/Driver" role="button">
                                <p><i class="fa fa-truck fa-3x" aria-hidden="true"></i></p>
                                Driver
                            </a>
                        </div>

                        <div class="col-3">
                            <a class="btn" href="/admin/ManageUser/user" role="button">
                                <p><i class="fa fa-user fa-3x" aria-hidden="true"></i></p>
                                User
                            </a>
                        </div>

                        <div class="col-3">
                            <a class="btn" href="/admin/ManageUser/partner" role="button">
                                <p><i class="fa fa-building fa-3x" aria-hidden="true"></i></p>
                                Partner
                            </a>
                        </div>

                        <div class="col-3">
                            <a class="btn" href="/admin/ManageUser/staff" role="button">
                                <p><i class="fa fa-user-tie fa-3x" aria-hidden="true"></i></p>
                                Staff
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group mt-5">
                        <input type="text" class="form-control" placeholder="search..." aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary">Serach</button>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                <span class="">Select</span>
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <form method="post">
            <input name="driverID" id="driverID" hidden>
            <input name="statusChoice" id="statusChoice" hidden >
        </form>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.driverList}}
                        <tr>
                            <th scope="row">{{MATX}}</th>
                            <td>{{HOTEN}}</td>
                            <td>{{EMAIL}}</td>
                            <td>{{SDT}}</td>
                            <td>
                                <div class="btn-group border" role="group" aria-label="Basic example">
                                    <button type="button"
                                            class="btn {{#if TRANGTHAI}}btn-success{{/if}} activeBtn"
                                            data-id="{{MATX}}"
                                            {{#if TRANGTHAI}}disabled{{/if}}>Active</button>
                                    <button type="button"
                                            class="btn {{#unless TRANGTHAI}}btn-danger{{/unless}} lockBtn"
                                            data-id="{{MATX}}"
                                            {{#unless TRANGTHAI}}disabled{{/unless}}>Lock</button>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

