<div class="container">
    <div class="card">

        <div class="card-body">
            <p class="text-center h2 mb-5">Danh sách đơn hàng của tôi</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Ngày mua</th>
                        <th scope="col">Hình thức thanh toán</th>
                        <th scope="col">Phí vận chuyển</th>
                        <th scope="col">Phí sản phẩm</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.orderData}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{purchaseDate}}</td>
                            <td>{{typePurchase}}</td>
                            <td>{{format_number shipPrice}}</td>
                            <td>{{format_number productPrice}}</td>
                            <td>{{status}}</td>
                            <td>
                                <a class="btn btn-lg p-0  " href="/client/my-order/detail/{{id}}" role="button">
                                    <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
