<div class="container-fluid">
    <p class="text-center h2 mt-5 border-bottom">Thanh Toán</p>
    {{#if this.cart}}
        <form method="post" action="/client/list">
            <div class="container">
                <div class="row">
                    <p class="my-5 h5">
                        Danh sách các sản phẩm trong đơn hàng
                    </p>

                    <table class="table table-dark border">
                        <thead>
                        <tr>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng sản phẩm</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each this.cart}}
                            <tr>
                                <th scope="row">{{name}}</th>
                                <td>{{format_number price}}</td>
                                <td>{{numberProduct}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>



                <div class="row justify-content-end">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            <span>Phí vận Chuyển : 20,000</span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <span>Tổng Tiền : {{format_number this.totalPriceProduct}} </span>
                        </button>
                    </div>
                </div>
                <input value="20000" name="shipPrice" hidden>
                <input value="{{this.totalPriceProduct}}" name="totalPrice" hidden>

                <div class="row justify-content-end mt-5">
                    <a href="/client">
                        <button type="button" class="btn btn-danger mr-5">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>

                    <button type="submit" class="btn btn-primary ml-5">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        purchase
                    </button>

                </div>
            </div>
        </form>
    {{else}}
        <p class="h1 text-danger">
            Bạn chưa thêm sản phẩm nào vào giỏ hàng
        </p>
    {{/if}}

</div>
