 <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <p class="h3">Tổng kết doanh thu</p>
                <p class="btn btn-primary">
                    Tổng Doanh Thu :
                    <span>{{this.revenue}}</span>
                </p>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Ngày</th>
                            <th scope="col">Mã Đơn Hàng</th>
                            <th scope="col">Phí Sản Phẩm</th>
                            <th scope="col">Phí Vận Chuyển</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each orderDriverList}}
                        <tr>
                            <th scope="row">{{format_date NgayDat}}</th>
                            <td>{{MaDH}}</td>
                            <td>{{PhiSanPham}}</td>
                            <td class="text-success">{{PhiVanChuyen}}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
 </div>

