{{#section 'js'}}
    <script>
        $('.delBranch').on('click', function (e){
            const id = $(this).data('id');
            alert(id)
            $('#txtBraID').val(id);
            $('#formDelBranch').submit();
        });
    </script>
{{/section}}
<form method="post" action="/company/branch/del" id="formDelBranch">
    <input type="text" id="txtBraID" name="id">
</form>
<body>
    <div class="container">
        <div class="card">

            <div class="card-body">
                <p class="text-center h2 mb-5">Danh sách chi nhánh</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã chi nhánh</th>
                            <th scope="col">Tên địa chỉ</th>
                            <th scope="col">Doanh số</th>
                            <th scope="col">Hợp đồng</th>
                            <th scope="col" class="text-right"><a href="/company/branch/add"><i class="fa fa-plus-square" aria-hidden="true">Add</i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each this.data}}
                        <tr>
                            <th scope="row">{{MaChiNhanh}}</th>
                            <td>{{DiaChi}}</td>
                            <td>{{DoanhSoBan}}</td>
                            {{#unless MAHOPDONG}}
                            <td>Trống</td>
                            {{else}}
                                <td>MAHOPDONG</td>
                                {{/unless}}
                            <td class="text-right">
                                <a data-id="{{MaChiNhanh}}" class="btn btn-lg p-0 delBranch" href="#" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-lg p-0  " href="/company/branch/update?id={{MaChiNhanh}}" role="button">
                                    <i class="fa fa-wrench" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>

                    {{/each}}


                    </tbody>
                </table>
            </div>

        </div>
    </div>
