

<body>
    <div class="container">
        <div class="card">

            <div class="card-body">
                <p class="text-center h2 mb-5">Danh sách hợp đồng</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã hợp đồng</th>
                            <th scope="col">Người đại diện</th>
                            <th scope="col">Số chi nhánh Đăng Ký</th>
                            <th scope="col">Ngày bắt đầu</th>
                            <th scope="col">Hiệu lực</th>
                            <th scope="col" class="text-right"><a href="../company/contract/add"><i class="fa fa-plus-square" aria-hidden="true">Add</i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each this.data}}
                        <tr>
                            <th scope="row">{{MaHD}}</th>
                            <td>{{NguoiDaiDien}}</td>
                            <td>{{SoChiNhanhDK}}</td>
                            <td>{{NgayBatDau}}</td>
                            <td>{{HieuLuc}}</td>
<!--                            <td class="text-right">-->
<!--                                <a class="btn btn-lg p-0  " href="/company/contract/update?id={{MACHINHANH}}" role="button">-->
<!--                                <i class="fa fa-wrench" aria-hidden="true"></i>-->
<!--                                </a>-->
<!--                            </td>-->
                        </tr>

                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
