
<body>
    <div class="container">
        <div class="card">

            <div class="card-body">
                <p class="text-center h2 mb-5">Danh sách đơn đặt hàng</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Phí vận chuyển</th>
                            <th scope="col">Phí sản phẩm</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Chi tiết</th>
                            <th scope="col">Kích hoạt</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr>
                            <th scope="row">{{MaDH}}</th>
                            <td>{{NgayDat}}</td>
                            <td>{{PhiVanChuyen}}</td>
                            <td>{{PhiSanPham}}</td>
                            <td>{{TinhTrang}}</td>
<!--                            {{#if TinhTrang}}-->
<!--                                <td>Đang giao hàng</td>-->
<!--                            {{else}}-->
<!--                                {{#unless TinhTrang}}-->
<!--                                    <td>Đang chuẩn bị</td>-->
<!--                                {{else}}-->
<!--                                    <td>Đã giao</td>-->
<!--                                {{/unless}}-->
<!--                            {{/if}}-->

                            <td>
                                <a class="btn btn-lg p-0  " href="/company/order/detail?id={{MaDH}}" role="button">
                                    <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
