<div class="container">
    <div class="row m-0 h2 border-bottom">
        Danh Sách Hợp Đồng
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row w-100">
                <div class="col-4">
                    <a class="btn {{#if isValid}}btn-primary{{/if}}" href="/staff/contract/valid" role="button">
                        <span><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></span>
                        <span class="h3">Hợp lệ</span>
                    </a>
                </div>

                <div class="col-4">
                    <a class="btn {{#if isPending}}btn-primary{{/if}}" href="/staff/contract/pending" role="button">
                        <span><i class="fa fa-pencil-square fa-3x" aria-hidden="true"></i></span>
                        <span class="h3">Chờ Duyệt</span>
                    </a>
                </div>

                <div class="col-4">
                    <a class="btn {{#if isExpired}}btn-primary{{/if}}" href="/staff/contract/expired" role="button">
                        <span><i class="fa fa-times-circle fa-3x" aria-hidden="true"></i></span>
                        <span class="h3">Sắp hết hạn</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã Hợp Đồng</th>
                        <th scope="col">Tên Đối Tác</th>
                        <th scope="col">Ngày Đăng Ký</th>
                        <th scope="col">Hiệu Lực</th>
                        <th scope="col">Chi Tiết</th>
                    </tr>
                </thead>
                <tbody>
                {{#each contractData}}
                    <tr>
                        <th scope="row">{{MaHD}}</th>
                        <td>{{TenDoanhNghiep}}</td>
                        <td>{{format_date NgayBatDau}}</td>
                        <td>{{HieuLuc}} tháng</td>
                        <td>
                            <a class="btn p-0" href="/staff/contract/detail/{{MaHD}}?status={{../status}}" role="button">
                                <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

