{{#section 'js'}}
    <script>
        $('#pendingBtn').on('click', function(e) {
            const idContract = $(this).data('id');
            $('form > input').val(idContract)
            $('form').submit();
        })
    </script>
{{/section}}


<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="h2">Thông tin hợp đồng</p>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="h3 px-0">Hạng mục</th>
                                <th scope="col" class="h3 px-0">Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Mã Hợp Đồng</th>
                                <td>{{this.contractData.MAHD}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Tên đối tác</th>
                                <td>{{this.contractData.TenDoanhNghiep}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Người đại diện</th>
                                <td>{{this.contractData.NguoiDaiDien}}</td>
                            </tr>


                            <tr>
                                <th scope="row">Ngày đăng ký</th>
                                <td>{{format_date this.contractData.NgayBatDau}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Hiệu lực</th>
                                <td>{{this.contractData.HieuLuc}} tháng</td>
                            </tr>

                            <tr>
                                <th scope="row">Số chi nhánh đăng kí</th>
                                <td>{{this.contractData.SoChiNhanhDK}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Tình trạng</th>
                                {{#if isExpired}}
                                    <td class="text-danger">Sắp Hết Hạn</td>
                                {{/if}}

                                {{#if isValid}}
                                    <td class="text-success">Còn hạn</td>
                                {{/if}}

                                {{#if isPending}}
                                    <td class="has-text-primary">Đang Duyệt</td>
                                {{/if}}
                            </tr>



                        </tbody>
                    </table>
                </div>

                <form method="post" action="/staff/contract/detail">
                    <input name="idContract" hidden>
                </form>

                <div class="col-3 d-flex flex-column justify-content-center">
                    {{#if isExpired}}
                        <a class="btn btn-outline-primary mb-5" href="#" role="button">
                            Thông báo gia hạn
                        </a>
                    {{/if}}

                    {{#if isPending}}
                        <a class="btn btn-outline-primary mb-5"  role="button" id="pendingBtn" data-id="{{this.contractData.MAHD}}">
                            Duyệt
                        </a>
                    {{/if}}
                    <a class="btn btn-outline-danger" href="/staff/contract/{{this.urlReturn}}" role="button">
                        Return
                    </a>
                </div>
            </div>
            <div class="row">
                <p class="h3 ml-4">Danh sách chi nhánh đăng kí</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Mã Chi Nhánh</th>
                        <th scope="col">Địa Chỉ</th>

                    </tr>
                    </thead>
                    <tbody>
                        {{#each branchList}}
                            <tr>
                                <th scope="row">{{MaChiNhanh}}</th>
                                <td>{{DiaChi}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
